{
    "processors": ["stylelint-processor-styled-components"],
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-styled-components"
    ],
    "rules": {
        "value-no-vendor-prefix": null,
        "property-no-vendor-prefix": null,
        "color-named": "never",
        "color-hex-length": "short",
        "color-hex-case": "lower",
        "color-no-invalid-hex": true,
        "function-comma-space-after": "always",
        "number-leading-zero": "always",
        "string-quotes": "double",
        "unit-blacklist": "em",
        "number-max-precision": 2,
        "unit-case": "lower",
        "unit-no-unknown": true,
        "block-no-empty": true,
        "comment-no-empty": true,
        "property-case": "lower",
        "declaration-bang-space-after": "never",
        "declaration-no-important": true,
        "block-closing-brace-space-before": "always-single-line",
        "indentation": 4,
        "max-nesting-depth": 4,
        "no-duplicate-selectors": true,
        "no-extra-semicolons": true
    }
}
